<div class="lernhive-explore">
    {{> theme_lernhive/explore_hero }}

    <div class="lernhive-explore__sections">
        {{#sections}}
            {{> theme_lernhive/card_section }}
        {{/sections}}
    </div>
</div>
