{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
}}
{{> theme_boost/head }}
<body {{{ bodyattributes }}}>
{{> core/local/toast/wrapper}}
<div id="page-wrapper" class="theme-lernhive-login">
    {{{ output.standard_top_of_body_html }}}
    <a class="lernhive-skip-link" href="#maincontent">Skip to main content</a>

    <main id="page" class="lernhive-login__page">
        <section class="lernhive-login__panel">
            <div class="lernhive-login__brand">
                <a href="{{{ config.wwwroot }}}/" class="lernhive-brand__link">{{ sitename }}</a>
            </div>
            <div id="maincontent" class="lernhive-login__content">
                {{{ output.main_content }}}
            </div>
        </section>
    </main>

    {{{ output.standard_end_of_body_html }}}
</div>
</body>
</html>
